%table{:bgcolor => "F4FAFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td.min_width{:align => "center", :style => "min-width:770px; padding:0 10px"}
      %table.container770{:align => "center", :bgcolor => "#F3FAFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt", :width => "770"}
        %tr
          %td{:align => "center", :style => "padding:0 15px 0 15px"}
            %table.container770{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt", :width => "600"}
              %tr
                %td{:align => "center", :style => "padding:40px 0 0 0"}
                  = link_to root_url do
                    = image_tag 'logo2.png', alt: "Logo", border: "0", height: "67", style: "display:block", width:  "218"
              %tr
                %td{:align => "center", :style => "font-family:'Lato', Arial, Tahoma; Font-size:22px; line-height:29px; font-weight:800; font-style:normal; color:#009AFE; padding:56px 0 36px 0"}
                  Dear #{@order.user.name},
  %tr
    %td.min_width{:align => "center", :style => "min-width:770px; padding:0 10px"}
      %table.container770{:align => "center", :bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt", :width => "770"}
        %tr
          %td{:align => "center", :style => "padding:0 15px 0 15px"}
            %table.container770{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt", :width => "300"}
              %tr
                %td{:align => "center", :style => "padding:40px 0 0 0"}
                  = image_tag 'icon1.png', alt: "Logo", border: "0", height: "95", style: "display:block", width:  "95"
              %tr
                %td{:align => "center", :style => "white-space: nowrap;font-family:'Lato', Arial, Tahoma; Font-size:18px; line-height:28px; font-weight:bold; font-style:normal; color:#12425E; padding:40px 0 0 0"}
                  We've Received Your
                  %span{:style => "color:#009AFE"} #{APP_CONFIG['title']}
                  Order
                  %br
                  Your Order No.
                  %span{:style => "color:#FF9500"} #{@order.number}
              %tr
                %td{:align => "center", :style => "font-family:'Lato', Arial, Tahoma; Font-size:18px; line-height:25px; font-weight:normal; font-style:normal; color:#4C768F; padding:20px 0 58px 0"}
                  We will review your order shortly
                  and send you the final price.
  %tr
    %td{:height => "90"}
