- klass ||=  name == 'notice' ? 'success' : 'danger'
- url ||= nil

%div{:class => "alert alert-dismissible alert-#{klass}"}
  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
  - if url.present?
    = content_tag :a, msg, href: url, id: "flash_#{name}"
  - else
    = content_tag :div, msg, :id => "flash_#{name}"
