!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Title
    %title Beejeeb: Your Personal Shopper
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / Stylesheets
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
    = content_for :css
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/responsive.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
  %body
    / Heade Area Start
    %header.page_header
      %nav.navbar
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              %img{:alt => "img", :src => "/images/primary-logo.png"}/
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a{:href => "/#start_shopping"}
                  %img{:alt => "img", :src => "/images/icons/5.png"}>/
                  Start Shopping
              %li
                %a{:href => "/#how-it-works"}
                  %img{:alt => "img", :src => "/images/icons/6.png"}>/
                  How It Works
              %li
                %a{:href => "/#calculator"}
                  %img{:alt => "img", :src => "/images/icons/7.png"}>/
                  Calculator
            %ul.nav.navbar-nav.navbar-right
              - unless current_user
                %li.dropdown.flag_nav
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %img{:alt => "img", :src => "/images/flag/1.png"}/
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"}
                        %img{:alt => "img", :src => "/images/flag/1.png"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "img", :src => "/images/flag/2.png"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "img", :src => "/images/flag/3.png"}/
              %li.faq_nav
                %a{:href => "faq.html"}
                  %img{:alt => "img", :src => "/images/icons/8.png"}/
              %li
                %a{:href => "#"} العربية
              - if current_user
                %li
                  %a{:href => "#"}
                    Hello, #{current_user.name}
                %li
                  = link_to orders_path do
                    %img{:alt => "My Orders", :height => "17px", :src => "/images/icons/list.png", :width => "17px"}/
                %li
                  = link_to cart_items_path do
                    %img{:alt => "img", :src => "/images/icons/cart_icon.png"}/
                %li
                  = link_to profile_path do
                    %img{:src => "/images/icons/settings.png", :width => "22px"}/
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %img{:alt => "img", :src => "/images/icons/shutdown.png", :width => "22px"}/
              - else
                %li
                  %button.signin_btn{:onclick => "window.location.href='login-signup.html'", :type => "button"} Sign in
                %li
                  %button.c_account_btn{:onclick => "window.location.href='login-signup.html'", :type => "button"} Create account
                %li
                  = link_to cart_items_path do
                    %img{:alt => "img", :src => "/images/icons/cart_icon.png"}/
    = render 'layouts/messages'
    = yield
    / Footer Area Start
    %footer.page_footer
      .container
        .footer_up
          .row
            .col-sm-3
              .footer_item
                %h4 WHO WE ARE
                %ul
                  %li
                    %a{:href => "about-us.html"} About Us
                  %li
                    %a{:href => "#"} Why Begeeb?
                  %li
                    %a{:href => "how-it-works.html"} How It Works?
            .col-sm-3
              .footer_item
                %h4 RESOURCES
                %ul
                  %li
                    %a{:href => "#"} Business Solutions
                  %li
                    %a{:href => "#"} Press and Media
                  %li
                    %a{:href => "faq.html"} Frequently Asked Questions
            .col-sm-3
              .footer_item
                %h4 LEGAL STUFF
                %ul
                  %li
                    %a{:href => "terms.html"} Terms Of Service
                  %li
                    %a{:href => "privacy.html"} Privacy Policy
                  %li
                    %a{:href => "can_i_buy.html"} Prohibited Items
            .col-sm-3
              .footer_item
                %h4 STAY CONNECTED
                %ul
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                      On Facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                      On Twitter
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-instagram
                      On Instagram
          .footer_badge
            %a{:href => "#"}
              %img{:alt => "img", :src => "/images/badge.png"}/
        .footer_down
          .row
            .col-sm-4
              .footer_down_item1
                %h3
                  %img{:alt => "icon", :src => "/images/icons/phone_icon.png"}/
                  +962 799 349 238
                %p
                  (10 am-4pm, Sunday - Thursday)
              .footer_down_item2
                %h3
                  %img{:alt => "icon", :src => "/images/icons/envelop_icon.png"}/
                  support@beejeeb.com
            .col-sm-8
              .row
                .col-sm-3
                  .footer_brand
                    %a{:href => "#"}
                      %img{:alt => "img", :src => "/images/brand/1.png"}/
                .col-sm-3
                  .footer_brand
                    %a{:href => "#"}
                      %img{:alt => "img", :src => "/images/brand/2.png"}/
                .col-sm-3
                  .footer_brand
                    %a{:href => "#"}
                      %img{:alt => "img", :src => "/images/brand/3.png"}/
                .col-sm-3
                  .footer_brand
                    %a{:href => "#"}
                      %img{:alt => "img", :src => "/images/brand/4.png"}/
        .footer_copyright
          %p © Copyright 2018 Beejeeb - All Rights Reserved.
    / Javascript
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    / Custom Javascript
    %script{:src => "/js/custom.js"}
    %script{:src => "/js/product-fetcher.js"}
    %script{:src => "/js/rails-ujs.js"}
    = content_for :js
    / Start of Tawk.to Script
    :javascript
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b37ace34ce1104a7d125707/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    / End of Tawk.to Script
